name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GO_VERSION: '1.24.x'

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install dm tooling
        run: |
          sudo apt-get update
          sudo apt-get install -y cryptsetup dmsetup
          sudo modprobe dm-mod
          sudo modprobe dm-zero
          sudo modprobe dm-verity

      - name: Build
        run: sudo make && sudo make install

      - name: Run unit tests (race)
        run: sudo -E go test -v -race ./...

      - name: Run integration tests
        run: sudo -E bash tests/verity-compat.sh

  golangci:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 25
          path: src/github.com/containerd/go-dmverity

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
        with:
          version: v1.64.8
          args: --timeout=5m
          skip-cache: true
          working-directory: src/github.com/containerd/go-dmverity

  project:
    name: Project Checks
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: src/github.com/containerd/go-dmverity
          fetch-depth: 25
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: containerd/project-checks@d7751f3c375b8fe4a84c02a068184ee4c1f59bc4 # v1.2.2
        with:
          working-directory: src/github.com/containerd/go-dmverity
